<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ztgm.openplat.dao.RuleMapper">
  <resultMap id="BaseResultMap" type="com.ztgm.openplat.pojo.Rule">
    <id column="Id" jdbcType="INTEGER" property="id" />
    <result column="CreateUserId" jdbcType="INTEGER" property="createUserId" />
    <result column="DataType" jdbcType="VARCHAR" property="dataType" />
    <result column="Name" jdbcType="VARCHAR" property="name" />
    <result column="ProductKey" jdbcType="VARCHAR" property="productKey" />
    <result column="RuleDesc" jdbcType="VARCHAR" property="ruleDesc" />
    <result column="SelectData" jdbcType="VARCHAR" property="selectData" />
    <result column="ShortTopic" jdbcType="VARCHAR" property="shortTopic" />
    <result column="Status" jdbcType="VARCHAR" property="status" />
    <result column="Topic" jdbcType="VARCHAR" property="topic" />
    <result column="UtcModified" jdbcType="VARCHAR" property="utcModified" />
    <result column="UtcCreated" jdbcType="VARCHAR" property="utcCreated" />
    <result column="WhereData" jdbcType="VARCHAR" property="whereData" />
  </resultMap>
  <sql id="Base_Column_List">
    Id, CreateUserId, DataType, Name, ProductKey, RuleDesc, SelectData, ShortTopic, Status, 
    Topic, UtcModified, UtcCreated, WhereData
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from rule
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from rule
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ztgm.openplat.pojo.Rule">
    insert into rule (Id, CreateUserId, DataType, 
      Name, ProductKey, RuleDesc, 
      SelectData, ShortTopic, Status, 
      Topic, UtcModified, UtcCreated, 
      WhereData)
    values (#{id,jdbcType=INTEGER}, #{createUserId,jdbcType=INTEGER}, #{dataType,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{productKey,jdbcType=VARCHAR}, #{ruleDesc,jdbcType=VARCHAR}, 
      #{selectData,jdbcType=VARCHAR}, #{shortTopic,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{topic,jdbcType=VARCHAR}, #{utcModified,jdbcType=VARCHAR}, #{utcCreated,jdbcType=VARCHAR}, 
      #{whereData,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ztgm.openplat.pojo.Rule">
    insert into rule
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        Id,
      </if>
      <if test="createUserId != null">
        CreateUserId,
      </if>
      <if test="dataType != null">
        DataType,
      </if>
      <if test="name != null">
        Name,
      </if>
      <if test="productKey != null">
        ProductKey,
      </if>
      <if test="ruleDesc != null">
        RuleDesc,
      </if>
      <if test="selectData != null">
        SelectData,
      </if>
      <if test="shortTopic != null">
        ShortTopic,
      </if>
      <if test="status != null">
        Status,
      </if>
      <if test="topic != null">
        Topic,
      </if>
      <if test="utcModified != null">
        UtcModified,
      </if>
      <if test="utcCreated != null">
        UtcCreated,
      </if>
      <if test="whereData != null">
        WhereData,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="dataType != null">
        #{dataType,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="productKey != null">
        #{productKey,jdbcType=VARCHAR},
      </if>
      <if test="ruleDesc != null">
        #{ruleDesc,jdbcType=VARCHAR},
      </if>
      <if test="selectData != null">
        #{selectData,jdbcType=VARCHAR},
      </if>
      <if test="shortTopic != null">
        #{shortTopic,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="topic != null">
        #{topic,jdbcType=VARCHAR},
      </if>
      <if test="utcModified != null">
        #{utcModified,jdbcType=VARCHAR},
      </if>
      <if test="utcCreated != null">
        #{utcCreated,jdbcType=VARCHAR},
      </if>
      <if test="whereData != null">
        #{whereData,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ztgm.openplat.pojo.Rule">
    update rule
    <set>
      <if test="createUserId != null">
        CreateUserId = #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="dataType != null">
        DataType = #{dataType,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        Name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="productKey != null">
        ProductKey = #{productKey,jdbcType=VARCHAR},
      </if>
      <if test="ruleDesc != null">
        RuleDesc = #{ruleDesc,jdbcType=VARCHAR},
      </if>
      <if test="selectData != null">
        SelectData = #{selectData,jdbcType=VARCHAR},
      </if>
      <if test="shortTopic != null">
        ShortTopic = #{shortTopic,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        Status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="topic != null">
        Topic = #{topic,jdbcType=VARCHAR},
      </if>
      <if test="utcModified != null">
        UtcModified = #{utcModified,jdbcType=VARCHAR},
      </if>
      <if test="utcCreated != null">
        UtcCreated = #{utcCreated,jdbcType=VARCHAR},
      </if>
      <if test="whereData != null">
        WhereData = #{whereData,jdbcType=VARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ztgm.openplat.pojo.Rule">
    update rule
    set CreateUserId = #{createUserId,jdbcType=INTEGER},
      DataType = #{dataType,jdbcType=VARCHAR},
      Name = #{name,jdbcType=VARCHAR},
      ProductKey = #{productKey,jdbcType=VARCHAR},
      RuleDesc = #{ruleDesc,jdbcType=VARCHAR},
      SelectData = #{selectData,jdbcType=VARCHAR},
      ShortTopic = #{shortTopic,jdbcType=VARCHAR},
      Status = #{status,jdbcType=VARCHAR},
      Topic = #{topic,jdbcType=VARCHAR},
      UtcModified = #{utcModified,jdbcType=VARCHAR},
      UtcCreated = #{utcCreated,jdbcType=VARCHAR},
      WhereData = #{whereData,jdbcType=VARCHAR}
    where Id = #{id,jdbcType=INTEGER}
  </update>
  


<select id="selectList"
	resultMap="BaseResultMap"
	parameterType="com.ztgm.openplat.pojo.Rule">
	select
	<include refid="Base_Column_List" />
	from rule c

	where 1=1
	<if test=" id !=null and id !='' ">
		and c.id = #{id}
	</if>
	
		
		<if test=" createUserId !=null and createUserId !='' ">
		and c.CreateUserId like concat ('%', #{createUserId},'%')
	</if>
		
			
		
		<if test=" dataType !=null and dataType !='' ">
		and c.DataType like concat ('%', #{dataType},'%')
	</if>
		
			


</select>



<delete id="delete"
	parameterType="com.ztgm.openplat.pojo.Rule">
	delete from rule

	where id = #{id,jdbcType=VARCHAR}

</delete>

</mapper>